@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #7C3AED;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/** container **/
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/** links **/
.primary-link {
    color: var(--primary-color);
}